# ENABLE Mock backend
VITE_MOCKED_BACKEND=false

# Base url for the backend API
# 4000: backend started with Docker (make up). 3000: backend started with pnpm start:dev
VITE_BACKEND_BASEURL=http://localhost:4000/

