PORT=3000

# JWT Secret
JWT_SECRET=mySecret
JWT_EXPIRE='2h'

# Crypt
CRYPT_SALT=8

# Database configuration
DATABASE_PORT=27017
DATABASE_USERNAME=root
DATABASE_PASSWORD=example
DATABASE_NAME=app

DATABASE_URL="mongodb://root:example@localhost:27017/app?authSource=admin&directConnection=true"